# Version control
.git
.gitignore

# Ignore dependencies, as they are installed inside the container
node_modules

# Ignore local environment files, logs, and data
.env
debug.log
npm-debug.log
data/

# Docker build files
Dockerfile
.dockerignore